@use '../../abstract/var';


.search-section{
    
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom:2rem;
    // background-color:red;

    
        h1{
            font-size:45px;
            text-align: center;
            font-family: var.$font-heading;
        }


    div{
        display: flex;
        gap: 1rem;
        

        .search-btn{
            padding:.5rem 2rem;
            background-color: var.$blue-500;
            border:none;
            border-radius: 8px;
            color: var.$neutral-0;
            font-family:var.$font-primary;
            font-weight: 500;
        }
    }
}


@media(max-width:1000px){
    .search-section{
        width: 90%;
        
        div{
            gap:.5rem;
            width: 100%;
            flex-direction: column;

            .search-btn{
                padding: 1rem 2rem;
            }
        }
        
    }
}