

.results{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


@media (max-width:1000px){
    .results{
        width: 100%;
    }
}